---
import LandingHeader from "../components/LandingHeader.astro";
import Section from "../components/Section.astro";
import HeroSection from "../components/HeroSection.astro";
import ModelSSection from "../components/ModelS.astro";
import ModelThreeSection from "../components/ModelThree.astro";
import ModelXSection from "../components/ModelX.astro";
import ModelYSection from "../components/ModelY.astro";
import PowerWallSection from "../components/PowerWall.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Tesla Page" description="A Tesla clone page built with Astro">
	<LandingHeader />
	<main
		class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
	>
		<div class="snap-center">
			<Section title="Difrute de Tesla" subtitle="Programe una prueba de conducción hoy mismo" color="white">
				<div slot="footer">
					<a
						class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded text-white px-12 py-2 inline-block
						hover:bg-white hover:text-black transition-colors"
						href="#"
					>
						Prueba de conducción
					</a>
				</div>

				<video
					slot="media"
					class="object-center object-cover h-full w-full"
					autoplay
					muted
					loop
					src="./video.webm"></video>
			</Section>
		</div>
		<div class="snap-center">
			<ModelSSection />
		</div>
		<div class="snap-center">
			<ModelThreeSection />
		</div>
		<div class="snap-center">
			<ModelXSection />
		</div>
		
		<div class="snap-center">
			<ModelYSection />
		</div>
		<div class="snap-center">
			<PowerWallSection />
		</div>
	</main>
</Layout>
